*{
    margin: 0px;
    padding: 0px;
}


header{
    background-color: url("https://png.pngtree.com/background/20211215/original/pngtree-abstract-geometric-background-golden-black-gradient-background-picture-image_1450744.jpg");
    color: gold;
    font-size: 25px;
    border-bottom: solid 2px gold;
    padding: 20px;
    height: 30px;
}