*{
    margin: 0px;
    padding: 0px;
}


header{
    background-color: url("https://static.vecteezy.com/ti/vetor-gratis/t2/8953048-abstract-elegant-gold-lines-diagonal-scene-on-black-background-template-premium-award-design-gratis-vetor.jpg");
    color: black;
    font-size: 25px;
    border-bottom: solid 2px gold;
    padding: 20px;
    height: 30px;
}